@CHARSET "UTF-8";

body {
  color: #404040;
  background-color:orange;
  width: device-width;
  padding:0;  
  text-align: center;
}


table.schedule_table {
	width:1000px;
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
	text-align: center;
	margin:0px auto;   /*居中显示*/
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.schedule_table th {
	background:#b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	font-size:18px;
	padding: 8px;
    width:200px; 
	border-style: solid;
	border-color: #999999;
}
table.schedule_table td {
	background:#dcddc0 url('cell-grey.jpg');
	border-width: 1px;
	font-size:14px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}